@page "{Id:int?}"
@model TecGurusAdvancedUAMCORE.Pages.ExampleRazorPage.DetailModel
@{
}

<h4>@Model.Message</h4>


@*//Recuperar 2 valores mediante los parametros
    query string en un razor page llamado EjeQueryString
    dichos parametros son llenados en un formulario
    dentro del razor Page ExampleRazorPage y enviados a
    el nuevo RP  EjeQueryString (parametros de tipo:
    1 Int
    2 string
    )
*@

